# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# macOS
.DS_Store

# BeeWare / Briefcase
build/
dist/
*.log

# Xcode
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
